{% extends 'web/base.html' %}
{% block content %}
<div>
    {% if current_timeslot %}
        <b>Текущий time-слот:</b> {{ current_timeslot.title }} <br>
        <small>Начат {{current_timeslot.start_date }}</small>
        <form action="{% url 'time_slot_stop' current_timeslot.id%}" method="post">
            {% csrf_token %}
            <button>Закончить</button>
        </form>
    {% else %}
        <b>Добавить time-слот</b>
        <form action="{% url 'time_slot_add' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Сохранить</button>
        </form>
    {% endif %}
</div>

<hr>
<form action="">
    <b>Фильтры:</b>
    {% for field in filter_form %}
        {{ field.label }}
        {{ field }}
    {% endfor %}

    <button>Найти</button>
    <a href="?"> Показать все</a>
</form>

<div>
    <ul>
        {% for timeslot in timeslots %}
        <li>
            <b>{{ timeslot.title }}</b>
            <small>
            {% if timeslot.tags.all %}
                [{% for tag in timeslot.tags.all %} {{ tag.title}} {% endfor %}]
            {% endif %}

            {{ timeslot.user.username }}

            {% if timeslot.is_realtime %}
            (realtime)
            {% endif %}
                </small>
            <br>
            <small>с {{ timeslot.start_date|date:"SHORT_DATETIME_FORMAT" }} {% if timeslot.end_date %} по
                {{ timeslot.end_date|date:"SHORT_DATETIME_FORMAT" }} {% endif %}
                <a href="{% url 'time_slot_edit' timeslot.id %}"><b>Редактировать</b></a>
                <a href="{% url 'time_slot_delete' timeslot.id %}"><b>Удалить</b></a>
            </small>
        </li>
        {% endfor %}
    </ul>

    Time-слотов: {{ total_count }}. На этой странице: {{ timeslots|length }} <br>
    <nav>
        {% if timeslots.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{ timeslots.previous_page_number }}">Предыдущая</a>
        {% endif %}

        Страница {{ timeslots.number }} из {{ timeslots.paginator.num_pages }}

        {% if timeslots.has_next %}
            <a href="?page={{ timeslots.next_page_number }}">Следующая</a>
            <a href="?page={{ timeslots.paginator.num_pages }}">В конец</a>
        {% endif %}
    </nav>
</div>
{% endblock %}